{% layout "dgtstatic/base.liquid" %}

{% block "main_content" %}

<section class="section has-text-centered">

<iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/v55o3xv/?pub=3a515u" frameborder="0" allowfullscreen></iframe>

{% include "./inc/hire-me-reasons.liquid" %}

<div class="card">
    <div class="p-4">
        <h2 class="title is-align-items-center">
            Ready take your team to the <font style="color:firebrick">Next Level</font>?
        </h2>
    </div>
    <div class="buttons are-large are-primary is-flex is-align-content-centered">
        <a class="button is-primary" href="mailto:jordan@damngood.tech" rel="author">Send me an Email</a>
        <a class="button is-secondary" href="/faqs" rel="canonical">FAQs</a>
    </div>
</div>

<h1 class="section-title is-size-2 p-4">Content</h1>

<h1 class="section-title is-size-3 m-4">Videos</h1>

<div class="grid is-col-min-12">
        {% for entry in content.rumble.data %}
            <div class="static-card">
                <div class="card-image">
                    <img class="" src="{{ entry.thumbnail }}" alt="Rumble thumbnail for {{ entry.title }}" />
                </div>
                <div class="static-card-content">
                    <h2 class="static-cardtitle">{{ entry.title }}</h2>
                    <p class="static-card-date">{{ entry.date|date:"%B %d, %Y" }}</p>
                    <p class="static-card-teaser has-text-grey fixed-height-100">{{ entry.description| truncate: 200 }}</p>
                </div>
                <div class="static-card-action">
                    <a class="button full-width" href="{{ entry.url }}" rel="external">
                        <span class="icon">{% icon "video" "outline" %}</span>
                        <span>Watch</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <h1 class="section-title is-size-3 m-4">Articles</h1>
    <div class="grid is-col-min-12">
    {% for entry in content.medium.data %}
        <div class="static-card">
            <div class="card-image">
                <img class="" src="{{ entry.thumbnail }}"  alt="Medium thumbnail for {{ entry.title }}" />
            </div>
            <div class="static-card-content">
                <h2 class="static-cardtitle">{{ entry.title }}</h2>
                <p class="static-card-date">{{ entry.date|date:"%B %d, %Y" }}</p>
                <p class="static-card-teaser has-text-grey fixed-height-100">{{ entry.teaser }}</p>
            </div>
            <div class="static-card-action">
                <a class="button full-width" href="{{ entry.url }}" rel="external">
                    <span class="icon">{% icon "book" %}</span>
                    <span>Read</span>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

</section>


{% endblock %}