{% layout "dgtstatic/base.liquid" %}

{% block "main_content" %}

<section class="section has-text-centered">

<h1 class="section-title is-size-2 p-4">Hire Me</h1>

<div style="justify-content: center; display: flex;">
<div class="hireme-button has-text-white">
    <div class="left py-5">
        <h1 class="title is-size-4 is-uppercase has-text-white has-text-centered">Hire me as an employee</h1>
        <h2 class="subtitle is-size-6 is-uppercase has-text-centered">Full-Time or Part Time</h2>
        <div class="has-text-centered p-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-writing-sign" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round" style="scale: 4">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 19c3.333 -2 5 -4 5 -6c0 -3 -1 -3 -2 -3s-2.032 1.085 -2 3c.034 2.048 1.658 2.877 2.5 4c1.5 2 2.5 2.5 3.5 1c.667 -1 1.167 -1.833 1.5 -2.5c1 2.333 2.333 3.5 4 3.5h2.5" />
            <path d="M20 17v-12c0 -1.121 -.879 -2 -2 -2s-2 .879 -2 2v12l2 2l2 -2z" />
            <path d="M16 7h4" />
            </svg>
        </div>
        <article class="has-text-justified p-4" style="height: 150pt">
            <p class="py-2">
            You want your team to grow. You're in it for the long haul. Why not
            give your product or business the best chance at success?
            </p>
            
            <p class="py-2">
            I have over 12 years software development experience from a variety of industries
            that I bring to the table. I'm ready to join your team and provide the value that
            you're looking for.
            </p>

        </article>
        <div class="buttons is-justify-content-center">
            <a href="/hire-me-as-employee" class="button is-info">More Info</a>
        </div>
    </div>
    <div class="right py-5">
        <h1 class="title is-size-4 is-uppercase has-text-centered">Hire me as a <strong>Freelancer</strong></h1>
        <h2 class="subtitle is-size-6 is-uppercase has-text-centered">One-Off Projects or Recurring</h2>
        <div class="has-text-centered p-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-run" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round" style="scale: 4">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M13 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
            <path d="M4 17l5 1l.75 -1.5" />
            <path d="M15 21l0 -4l-4 -3l1 -6" />
            <path d="M7 12l0 -3l5 -1l3 3l3 1" />
            </svg>
        </div>
        <article class="has-text-justified p-4" style="height: 150pt">
            <p class="py-2">
                Perhaps your team has a small project you need help on or you're not quite
                ready to go full-time.
            </p>
            <p class="py-2">
                That's okay. I'd love to get your team quality technical development
                help to set your team up for success.
            </p>
        </article>
        <div class="buttons is-justify-content-center">
            <a href="/pages/more-info.html" class="button is-info">More Info</a>
        </div>
    </div>
</div>
</div>

</section>

<section class="section has-text-centered">


<h1 class="section-title is-size-2 p-4">Content</h1>

<h1 class="section-title is-size-3 m-4">Videos</h1>

<div class="grid is-col-min-12">
        {% for entry in content.rumble.data %}
            <div class="static-card">
                <div class="card-image">
                    <img class="" src="{{ entry.thumbnail }}" />
                </div>
                <div class="static-card-content">
                    <h2 class="static-cardtitle">{{ entry.title }}</h2>
                    <p class="static-card-date">{{ entry.date|date:"%B %d, %Y" }}</p>
                    <p class="static-card-teaser has-text-grey fixed-height-100">{{ entry.description| truncate: 200 }}</p>
                </div>
                <div class="static-card-action">
                    <a class="button full-width" href="{{ entry.url }}">Watch</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <h1 class="section-title is-size-3 m-4">Articles</h1>
    <div class="grid is-col-min-12">
    {% for entry in content.medium.data %}
        <div class="static-card">
            <div class="card-image">
                <img class="" src="{{ entry.thumbnail }}" />
            </div>
            <div class="static-card-content">
                <h2 class="static-cardtitle">{{ entry.title }}</h2>
                <p class="static-card-date">{{ entry.date|date:"%B %d, %Y" }}</p>
                <p class="static-card-teaser has-text-grey fixed-height-100">{{ entry.teaser }}</p>
            </div>
            <div class="static-card-action">
                <a class="button full-width" href="{{ entry.url }}">Read</a>
            </div>
        </div>
    {% endfor %}
    </div>

</section>


{% endblock %}